<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>{{ isLoginMode() ? 'Welcome Back' : 'Create Account' }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      @if (isLoginMode()) {
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Enter your email</mat-label>
            <input matInput formControlName="email" required />
            @if (loginForm.controls.email.hasError('required') && loginForm.controls.email.touched) {
              <mat-error>You must enter a value</mat-error>
            } @else if (loginForm.controls.email.hasError('email')) {
              <mat-error>Not a valid email</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" required />
            <button type="button" mat-icon-button matSuffix (click)="hide.set(!hide()); $event.preventDefault()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
              Login
            </button>
            <button mat-stroked-button color="primary" type="button" (click)="isLoginMode.set(false)">
              Create account
            </button>
          </div>
        </form>
      }

      @else {
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">

          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
            @if (registerForm.controls.email.hasError('email')) {
              <mat-error>Not a valid email</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" required />
            <button type="button" mat-icon-button matSuffix (click)="hide.set(!hide()); $event.preventDefault()">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
              Sign Up
            </button>
            <button mat-button color="primary" type="button" (click)="isLoginMode.set(true)">
              Back to Login
            </button>
          </div>
        </form>
      }

    </mat-card-content>
  </mat-card>
</div>
